.previewPanel {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 10px;
}
.container {
  display: flex;
  justify-content: center;

  margin: 20px;
}
.previewLarge {
  width: 600px;
  height: 900px;
  object-fit: cover;
}
.list {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  padding: 10px;
}
.title {
  display: flex;
  padding-left: 10px;
  width: 250px;
  font-size: large;
}
.title > .part1 {
  white-space: nowrap;
}
.title > .part2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.preview {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}
